<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credentials</title>
</head>
<body>
<center>
    <form action="/cert" method="POST">
    <h4>Enter Name : </h4>
    <input type="text" id="name" name="name"><br>
    <h4>Enter Course Name : </h4>
    <input type="text" id="course" name="course"><br>
    <h4>Enter Percentage : </h4>
    <input type="number" id="percent" name="percent"><br>
    <h4>Enter Date : </h4>
    <input type="date" id="date" name="date"><br>
    <input type="submit" value="SUBMIT" style="margin-top: 10px;"></input>
    </form>
</center>
</body>
</html>